<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="http://ev.kde.org" target="_blank"><img src="images/kde-logo.png"/> KDE e.V. Board Spring Sprint</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>From 13th to 14th of May, 2017 the KDE e.V. Board of Directors met for their in-person spring sprint at KDE e.V. office in Berlin. At this sprint, the KDE e.V. marketing contractors Paul and Ivana, the assistant of the board Petra, and Sebastian Kügler joined the team to discuss actions to leverage KDE's marketing efforts and improve the community's public visibility. Discussion topics included planning the events where KDE has a presence, checking the progress of 2016's KDE e.V. goals and defining goals for 2017/2018, completing the KDE e.V.'s mission statement, planning the 2017 annual report, advancing community engagement with KDE e.V., and improving finance tracking. As for KDE events, alongside usual discussion and planning for Akademy (KDE's annual summit), the group discussed actions for strengthening relationships with community partners ‒ for example, with <a href="https://dot.kde.org/2017/10/13/kde-powers-qt-world-summit" target="_blank">the big KDE presence at 2017's Qt World Summit</a> ‒ but also for expanding the KDE user and contributor base in regions like Asia (through conferences such as <a href="https://2017.fossasia.org/" target="_blank">FOSSASIA</a> and <a href="https://hkoscon.org/2017/" target="_blank">Hong Kong Open Source Conference</a>) and Latin-America (with the first edition of <a href="https://br.qtcon.org/2017/" target="_blank">QtCon Brazil</a>).</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/board-sprint-spring.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Joint KDE e.V. Board Spring Sprint + KDE Marketing Sprint</h3>
                                    <p>Thinking in the large: new KDE e.V. administrative and marketing actions</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/board-sprint-spring.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>Regarding KDE e.V. goals for 2016, the Board checked the progress of recent KDE e.V. actions, such as the creation of <a href="https://ev.kde.org/advisoryboard.php" target="_blank">KDE e.V.'s Advisory Board</a> and <a href="https://ev.kde.org/workinggroups/fundraisingwg.php" target="_blank">Fundraising Working Group</a>, the "<a href="https://evolve.kde.org/" target="_blank">Evolving KDE</a>" effort for setting community goals, and accounting improvements.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>On the marketing side, Paul, Ivana, and Sebastian analyzed results from popular applications pools on social media, discussed how to make better use of available data about KDE community, planned outreach for Akademy 2017, and defined guidelines for publishing content on <a href="http://dot.kde.org/" target="_blank">dot.kde.org</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
