<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://edu.kde.org" target="_blank"><img src="images/kde-edu-logo.png"/> KDE Edu Sprint</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>Between the 7th and 9th of October, the <a href="https://edu.kde.org/" target="_blank">KDE Edu</a> team met in the <a href="https://endocode.com/" target="_blank">Endocode</a> offices in Berlin, Germany to work on KDE's educational software. We split up our tasks into three general topics: organization, infrastructure, and coding.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
		    <p>We discussed the website and the strategies for presenting our projects to the outside world. We also covered improvements to our usage of Phabricator and our roles on the different goals we set for ourselves.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/kdeedu.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>KDE Edu Sprint 2017</h3>
                                    <p>Leveraging the success of KDE educational applications</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/kdeedu.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>Educational software users come from different backgrounds and use different platforms. Not looking to leave anyone behind, we spent time figuring out the best way to deliver our applications to Windows and Android users. We also looked into our Flatpak packages to discover the bugs and implement some improvements. In the future, we will be able to offer fresh and stable versions of our software right onto everybody's device, and of course, we coded. Meetings are great for discussions, but it's also nice to be able to sit with your friends, in front of a laptop with a warm coffee, and start looking into the issues that have been holding us back. We pushed improvements for <a href="https://edu.kde.org/cantor/" target="_blank">Cantor</a> and its integration with several languages, released a new version of <a href="https://www.kde.org/applications/games/ktuberling/" target="_blank">KTuberling</a> for Android, and a new <a href="http://gcompris.net/index-en.html" target="_blank">GCompris</a> version for classrooms. We worked on <a href="https://marble.kde.org/" target="_blank">Marble</a>'s routing features and got <a href="https://minuet.kde.org/" target="_blank">Minuet</a> running on Windows. The sprint helped us overcome some crucial roadblocks, and KDE Edu apps are now better than ever.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
