<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://br.qtcon.org/2017/" target="_blank"><img src="images/qtconbr.png"/> QtCon Brazil 2017</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>On the last day of <a href="https://qtcon.org/" target="_blank">QtCon</a> ‒ one of the biggest Qt events in Europe, held at <a href="http://www.bcc-berlin.de/en" target="_blank">Berlin Convention Center</a> in 2016 ‒ a group of three Brazilian KDE contributors started thinking about organizing the first Qt conference ever in Latin America. As a result, from 18th to 20th of August 2017, <a href="https://br.qtcon.org/2017/" target="_blank">QtCon Brazil</a> brought together almost 200 participants from the IT industry, universities, and governmental entities. The conference was held in <a href="https://en.wikipedia.org/wiki/S%C3%A3o_Paulo" target="_blank">São Paulo</a>, the biggest financial hub in Brazil and headquarters to big corporations, banks, universities and research centers. The first day was dedicated to training sessions. Sandro Andrade presented a session on "Developing Android Applications with Qt" and Cleiton Bueno was responsible for the session on "Developing Embedded Applications with Qt" with the valuable support of Toradex, one of the conference's sponsors. Training sessions were carried out in two groups of 20 participants, and focused on hands-on strategies for using Qt to power modern embedded and mobile applications. These training received heavy demand and were totally sold out within two weeks.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/qtconbr1.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>QtCon Brazil 2017</h3>
                                    <p>Group Photo</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/qtconbr1.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
				<p>The second and third days were devoted to keynote talks, guest talks from prominent Qt players in Brazil, and community talks selected from the Call for Participation applications. During the opening session on Saturday, representatives from the sponsors and the organizing committee welcomed all participants and provided an overview of QtCon Brazil's goals and motivation, followed by a panel titled "What's Qt About?". Next on the schedule was a technical session about embedded Qt, where Cleiton Bueno talked about "Initializing and Handling Qt Applications in Linux", and Sergio Prado gave a presentation on "Creating a GNU/Linux distribution with Qt support for embedded devices". After lunch, the conference continued with a technical talk about "Qt Successful Use-Cases". Lamarque Souza (Petrosoft) introduced "Scientific Computing with Qt" and João Jardim, from Stone, presented their firm's experience in using Qt to develop POS (Point Of Sale) applications in a timespan of only six months.</p>
			</div>
		    </div>
                    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
				<p>Next, there were three talks about mobile development with Qt. Sandro Andrade (IFBA/KDE) talked about the challenges and current Qt solutions for developing mobile applications. Gustavo Boiko (SUSE) talked about "Using Telepathy and Qt to create instant messaging applications" and Tiago Salem presented "10 lessons on telephony/messaging application development with Qt". The day finished with a "Meet and Greet Reception", kindly sponsored by The Qt Company. The last conference day started with the keynote talk "Convergent applications with Kirigami", by Aleix Pol i Gonzàlez (Blue Systems/KDE), followed by the keynote talk "From Hackathon to production in one year", presented by Victor Kropp (JetBrains). Filipe Saraiva (UFPA/KDE) presented his experiences in "Extending Qt applications with KDE Frameworks 5" and Daniel Nicoletti (INDRA) presented the history and current status of Cutelyst, a high-performance Qt-based framework for developing web applications.</p>
			</div>
		    </div>
		</div>
            </div>
	</div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/qtconbr2.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>QtCon Brazil 2017</h3>
                                    <p>Panel "What's Qt about?"</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/qtconbr2.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>The conference proceeded with talks from community members. Flávio dos Anjos (UNESP) talked about "Using Qt to leverage the discovery of new drugs" and Rodrigo Coimba (Brazilian government's Tribunal Superior Eleitoral) presented how Qt has been used to support Brazilian elections. Eliakin Almeida (IFBA/KDE) talked about his experiences in using Qt and Python to extend applications. Gabriel Fedel (LNLS) talked about how Qt has been used to develop the basic control systems which support the Brazilian particle accelerator project. Lucas Lellis talked about wiRed Panda &#8210; a Qt-based teaching software for simulating digital circuits. Last but not least, Luis Barreto (O.S. Systems) shred his experience in using Qt to develop embedded infotainment systems for cruise ships. This first edition of QtCon Brazil was a fruitful endeavor that has set the underpinnings to expand the Latin-American Qt user base, as well as to foster intercontinental relationships between Qt actors. Check <a href="https://www.flickr.com/photos/158162686@N07/page1" target="_blank">here</a> the complete photo set of QtCon Brazil 2017!</p>
			<p>QtCon Brazil 2017 was made possible thanks to the valuable support of <a href="https://www1.qt.io/company/" target="_blank">The Qt Company</a>, <a href="http://www.kde.org/" target="_blank">KDE</a>, <a href="https://www.stone.com.br/" target="_blank">Stone</a>, <a href="https://www.toradex.com/" target="_blank">Toradex</a>, <a href="https://www.opensuse.org/" target="_blank">openSUSE</a>, and <a href="https://www.jetbrains.com/" target="_blank">JetBrains</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
